header{
    width: 100%;
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: $white-light;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $primary-light;
    }
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}


.header-button{
    border: 1px solid $primary-light;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-dark;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover{
    border: 1px solid $primary-normal;
    background-color: $primary-light;
}


.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: transparent;
}

@media screen and (max-widht: 720px){
    
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 34px;
        }

    }
   
    .header-logo img{
        width: 160px;
        margin-top: 46px;
    }
}  